<!DOCTYPE HTML>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Website of Cheng-i Wang">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/stylesheets/base.css">
	<link rel="stylesheet" href="css/stylesheets/skeleton.css">
	<link rel="stylesheet" href="css/stylesheets/layout.css">
    	<link href="css/style.css" rel="stylesheet" type="text/css" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
<!-- 	<link rel="shortcut icon" href="favicon.ico"> -->
	<link rel="shortcut icon" href="img/favsix.png">
	<link rel="apple-touch-icon" href="img/fav57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/fav72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/fav114.png">
<style>
.worklist{
	text-decoration:none;
	color:#666;
}

h2 a:hover{
	text-decoration:none;
	color:#ccc;
}
</style>
</head>

<body id="index">
 	<div class="container">
		<nav class="four columns alpha">
			<a href="index.html">
			<img class="remove-bottom" style="margin-top:40px;" src="img/logo.png" />
			</a>   
			<p class="email">
			<a href="mailto:chw160@ucsd.edu">chw160@ucsd.edu</a>
			</p>

            <div id="navmenu">
				<ul>
					<a id="nav-publications" href="/publications"><div><li>PUBLICATIONS</li></div></a>
					<a id="nav-project" href="/projects"><div><li>PROJECTS</li></div></a>
					<a id="nav-courses" href="/producstions"><div><li>PRODUCTIONS</li></div></a>
				</ul>
            </div>
		</nav>
		
<script type="text/javascript">
// Populate dropdown with menu items
$("nav a").each(function() {
 var el = $(this);
 $("<option />", {
	 "value"   : el.attr("href"),
	 "text"    : el.text()
 }).appendTo("nav select");
});

$("nav select").change(function() {
  window.location = $(this).find("option:selected").val();
});

</script>		
		<section class="twelve columns omega">
			{{ content }}
		</section>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
